.flockPage {
    background-image: url('../../../public/images/landscape.png');
    top: 0;
    left: 0;
    position:fixed;
    width: 100%;
    height: 100%;

}

.floof {
    width: 28%;
}

.floofImage {
    height: 75px;
    width: auto;
}

.inField {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 60%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: black; */
}