.flockPage {
    background-image: url('../../../public/images/backgrounds/flock-background.png');
    top: 0;
    left: 0;
    position:fixed;
    width: 100%;
    height: 100%;
}

.flockPageSelected {
    border: 4px solid darkgray;
    width: 33%;
    height: 52px;
    position: fixed;
    left: 200;
    bottom: 0;
    background-color: black;
  }