.floof1Div {
    height: 75px;
    width: auto;
}

.floof2Div {
    height: 75px;
    width: auto;
}

.floof3Div {
    height: 75px;
    width: auto;
}

.floof4Div {
    height: 75px;
    width: auto;
}

.floof5Div {
    height: 75px;
    width: auto;
}

.floof6Div {
    height: 75px;
    width: auto;
}

.floof7Div {
    height: 75px;
    width: auto;
}

.floof8Div {
    height: 75px;
    width: auto;
}

.floof9Div {
    height: 75px;
    width: auto;
}

.floof10Div {
    height: 75px;
    width: auto;
}

.floof11Div {
    height: 75px;
    width: auto;
}

.floof12Div {
    height: 75px;
    width: auto;
}