
.navBar {
  background-color: white;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
}

.navBarOption {
  border: 2px solid darkgray;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}